<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.home nav, .home #boxedWrapper .breadcrumbs, .home footer .container {
  display: none;
}
.home .opening-header, .home .op-buttons-row {
  margin-top: 20px;
}
.home .opening-header img {
  width: 230px; 
    height: 93px;
}
.home .op-buttons-row .row-fluid {
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.home .op-buttons-row .row-fluid a {
	margin-left: 10px !important;
  	margin-right: 10px !important;
}
.home a:link {
  display: inline-block;
  border: none;
  color: #fff !important;
  text-decoration: none;
  background-color: #FD2738;
  padding: 20px 45px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
  cursor: pointer;
  }
.home a:hover {
  text-decoration: none !important;
    color: #fff !important;
}
.home .su-button-style-default span {
  border: none !important;
    font-size: 20px !important;
}
.home footer {
  padding: 0px;
    margin-top: -80px;
}
.home footer > h4 {
  padding: 20px 0 20px;
}
.home section {
  padding: 0px !important;
}
@media (max-width: 618px) {
  .home #op-button-1 {
    margin-bottom: 20px !important;
}
}
</style>
<!-- end Simple Custom CSS and JS -->
