<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.home nav, .home #boxedWrapper .breadcrumbs, .home footer .container {
  display: none;
}
.home .opening-header, .home .op-buttons-row {
  margin-top: 20px;
}
.home .opening-header img {
  width: 230px; 
    height: 93px;
}
.home .op-buttons-row .row-fluid {
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home a:link {
  display: inline-block;
  border: none;
  color: #fff !important;
  text-decoration: none;
  background-color: #FD2738;
  padding: 20px 45px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
  cursor: pointer;
  }
.home a:hover {
  text-decoration: none !important;
    color: #fff !important;
}
.home .su-button-style-default span {
  border: none !important;
    font-size: 20px !important;
}
.home #op-button-1 {
    margin-right: 20px;
}
.home footer {
  padding: 0px;
    margin-top: -80px;
}
.home footer > h4 {
  padding: 20px 0 20px;
}
.home section {
  padding: 0px !important;
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .home #op-button-1 {
    margin-bottom: 20px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .home #op-button-1 {
    margin-bottom: 20px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.home #op-button-1 {
    margin-bottom: 20px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.home #op-button-1 {
    margin-bottom: 20px;
}
}
</style>
<!-- end Simple Custom CSS and JS -->
