<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/*NEW CODE*/
.philosophy-section-wrapper-b {
	padding-bottom: 5% !important;
    padding-top: 5% !important;
}
.program-section-wrapper-b {
	padding-top: 5% !important;
}
</style>
<!-- end Simple Custom CSS and JS -->
